.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.dark{
    background: black;
    color: #fff;
}
.footer a{
    font-size: 18px;
    color: #455370;
}
.socialMediaWrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 30px;
}
.socialImageWrapper{
    overflow: hidden;
    width: 30px;
    height: 30px;
}
.socialImageWrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
