.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.dark{
    background: black;
    color: #fff;
}
.footer a{
    font-size: 18px;
    color: #455370;
}
