body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  padding: 10px 20px;
  color: black;
  font-size: 22px;
  font-weight: 600;
}
footer{
  color: #282c34;
  font-size: 18px;
}
card {
font-size: 16px;
  margin-top: 16px;
  width:600px;
  display: flex;
  align-items: center;
}
info {
  width: 500px;
}
checkout {
  position: relative;
  width:200px;
  height:300px;
  border: 1px solid #bab9b9;
  display: block;
}
total {
  padding-top: 20px;
  padding-left: 10px;
  position: absolute;
  width:100%;
  height: 220px;
  border-bottom: 1px solid #bab9b9;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
operations {
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width:100%;
  height: 80px;
  margin-top:220px ;
  display: flex;
}


.border{
  color: black;
}
.border:hover{
  color:grey;
  border-bottom: 2px solid grey;

}
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;

}
.justify-center {
  justify-content: center;

}

.align-center {
  align-items: center;
}

.mx-10 {
  margin: 0 10px;
}
.margin-0{
  margin: 0 auto;
}
.d-block{
  display: block;
}
.direction-column{
  flex-direction:column;
}
