.unit_top_banner {
    justify-content: center;
    text-align: center;
}

.advtext {
    font-size: 14px;
    text-align: left;
    margin-left: 200px;
    color: rgb(107, 107, 107);
}

.world-holder {
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.world-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #7e0019;
    margin-top: 30px;
}

.world-item {
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgba(107, 107, 107, 0.541);
    height: 87px;
    width: 300px;
}

.covid-info {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.covid-more {
    font-size: 18px;
    text-transform: uppercase;
    color: #7e0019;
}

.world-item-holder {
    margin-top: 10px;
    color: #7e0019;
    margin-left: 5px;
    display: flex;
    align-items: baseline;
}

.world-item-desc {
    color: #7e0019;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 16px;
}

.world-chart {
    padding-right: 5px;
    width: 100px;
    height: 30px;
}

.world-chart img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.world-item-num {
    color: #000000;
    font-size: 40px;
    font-weight: 500;
}


/* layout_main */

.layout_main {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container_sub_top_news {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    height: 519px;
    margin-right: 5px;
}

.container_sub_article {
    width: 623px;
    height: 519px;
}

.article_body {
    width: 320px;
    height: 250px;
}

.article_media_wrapper {
    width: 320px;
    height: 168px;
}

.article_media_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article_content {
    margin-top: 15px;
    margin-left: 4px;
    font-weight: 500;
    font-size: 18px;
}

.article_news_pic {
    padding-top: 8px;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2px;
    border-top: 1px solid rgba(107, 107, 107, 0.541);
}

.section_description {
    margin-top: 10px;
    color: #7e0019;
}

.article_media_wrapper_rg {
    width: 624px;
    height: 350px;
}

.article_media_wrapper_rg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heading {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 2;
    font-size: 9px;
    width: 75px;
    height: 13px;
    color: #ffffff;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #7e0019;
}

.article_header {
    font-size: 30px;
}

.article_author {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(107, 107, 107, 0.541);
}


/* middle_layout_main */

.middle_layout_main {
    height: 3137px;
    display: flex;
    justify-content: space-between;
}

.container_sub_news {
    padding: 15px 0px;
    border-top: 2px solid #7e0019;
    width: 320px;
}

.container_title {
    text-transform: uppercase;
    color: #7e0019;
    margin-bottom: 15px;
    font-weight: 500;
}

.article_news {
    border-bottom: 1px solid rgba(107, 107, 107, 0.541);
    border-bottom: 1px solid rgba(107, 107, 107, 0.541);
    padding-top: 5px;
    padding-bottom: 10px;
}

.article_time {
    margin-bottom: 5px;
    font-size: 12px;
    color: rgba(107, 107, 107, 0.541);
}

.article_header {
    font-size: 16px;
}

.button_more {
    text-transform: uppercase;
    color: #7e0019;
    text-decoration: none;
    padding-top: 30px;
}

.container_sub_articles_content {
    padding: 15px 0px;
    border-top: 2px solid #7e0019;
    width: 640px;
}

.container_sub_adv_content {
    width: 300px;
    padding: 15px 0px;
    border-top: 2px solid #7e0019;
}


/* container_sub_articles_content_wrapper */

.container_sub_articles_content_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article_grid {
    width: 320px;
    height: 286px;
    margin-bottom: 20px;
}

.article_grid__img {
    width: 310px;
    height: 183px;
}

.article_grid__img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article_grid__text {
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.article_grid__sebtext {
    margin-top: 10px;
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(107, 107, 107, 0.541);
}


/* main_center_1 */

.advtext_rec {
    font-size: 14px;
    color: rgba(107, 107, 107, 0.541);
    text-transform: uppercase;
}

.main_center_1 {
    margin: 0 auto;
}

.main_center_image {
    width: 620px;
    height: 200px;
}

.main_center_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article_adv {
    margin-top: 40px;
}

.article_adv_body {
    display: flex;
    background-color: rgba(107, 107, 107, 0.103);
}

.article_content {
    padding: 10px;
    width: 294px;
}

.article_header_title {
    font-size: 20px;
}

.article_heading_top {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: rgb(96, 96, 255);
    font-weight: 800;
}

.article_description {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(107, 107, 107, 0.541);
}


/*  */

.article_body_big {
    margin-bottom: 30px;
    margin-top: 30px;
}

.article_media_big {
    width: 638px;
    height: 350px;
}

.article_media_big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article_content_big {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 700;
}


/* unit_level_banner */

.unit_level_banner {
    margin-bottom: 60px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: 390px;
    background-color: #eaeaea;
}

.club_banner_wrapper {
    display: flex;
    justify-content: center;
    width: 1212px;
    height: 333px;
}

.club_banner_img {
    width: 315px;
    height: 333px;
}

.club_banner_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.club_banner_content {
    width: 727px;
    height: 333px;
    margin-left: 40px;
    margin-top: 40px;
}

.club_banner_title {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 600;
}

.club_banner_text {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 50px;
}

.club_banner_text b {
    font-weight: 700;
}

.unit_main_banner_1 {
    width: 300px;
    height: 260px;
}


/* container_opinion */

.container_opinion {
    display: flex;
    margin: 0 auto;
    width: 1296px;
    height: 522px;
}

.container_sub_columns {
    border-top: 2px solid #7e0019;
    width: 972px;
    height: 522px;
}

.container_title {
    text-decoration: none;
    outline: none;
    font-size: 25px;
    color: #900022;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 10px;
}

.container_title a {
    color: #900022;
}

.container_sub_blogs {
    border-top: 2px solid #7e0019;
    margin-left: 10px;
    width: 324px;
    height: 522px;
}


/* article big */

.article_big {
    height: 224px;
    width: 654px;
    background-color: #eaeaea;
}

.article_header_big {
    padding: 10px;
    font-weight: 600;
    font-size: 28px;
}

.article_author_big {
    padding: 10px;
    margin-top: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.article_author_media {
    width: 83px;
    height: 83px;
    overflow: hidden;
    border-radius: 50%;
}

.article_author_media img {
    display: block;
    width: 100%;
    height: 100%;
}

.article_author_name {
    margin-left: 10px;
    color: #900022;
    text-transform: uppercase;
}

.article_author_name span {
    text-transform: none;
    font-size: 14px;
    color: rgba(107, 107, 107, 0.541);
}

.container_wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 468px;
    width: 990px;
}

.article_header_min {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 60px;
}

.article_column_min {
    margin-top: 10px;
    margin-right: 3px;
    width: 317px;
    height: 224px;
    padding-left: 7px;
    background-color: #eaeaea;
}

.article_author_min {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.article_author_media_min {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
}

.article_author_media_min img {
    width: 100%;
    height: 100%;
}

.article_author_name {
    font-size: 16px;
}

.article_author_name span {
    font-size: 10px;
}


/* article_blog_right */

.article_blog_right {
    margin-top: 10px;
    width: 307px;
    height: 224px;
    background-color: #555;
}

.container_wrapper_min {
    padding-top: 1px;
    padding-left: 10px;
    width: 320px;
    height: 450px;
}

.left_block {
    color: #ffffff;
    padding: 10px;
}

.article_min_right {
    width: 53px;
    height: 53px;
}

.article_min_right img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.article_author_min_left {
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.di_fet {
    margin-top: 90px;
}

.pol_d {
    width: 78px;
    height: 48px;
}

.pol_text {
    margin-top: 70px;
}