.search{
    width: 200px;
    height: 20px;
    border: none;
    outline: none;
    font-size:13px;
    color:grey;
    background-image: url(../../image/magnify.svg);
    background-repeat: no-repeat;
    background-position: 180px;

}