.card{
    width: 300px;
    height:content-box;
    margin: 10px;
    padding: 0;
    border-radius: 10px;


}
.card:hover{
    border: 1px solid white;
    color: #ff8400;
    transition: transform .4s;
    transform:translateX(3px) translateY(3px);
}
.image{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 10px;

    overflow: hidden;

}
.image img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info{

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: content-box;

}

.title{
    font-weight: 600;


    font-size: 26px;
}
.sub-title{

}
.functionality{
    display: flex;
    width: 100%;
}
